.graph
	&__view
		position: relative
	&__switcher
		position: absolute
		right: 0
		top: .5em
	&__type
		cursor: pointer
		color: darken($header-color, .7)
		border-radius: 2px
		background-color: #fff
		border: none
		&--active
			background-color: transparentize($header-color, .5)
	&__name
		text-align: left
		padding-left: 1em
	&__container
		margin-bottom: 2em
		padding: 10px 15px
		box-shadow: $card-shadow
		+trns(box-shadow)
		&:hover
			box-shadow: $card-shadow-hover

	&__periods
		list-style-type: none
		text-align: right
		margin: 0
		padding: 0
	&__period
		border-radius: 2px
		cursor: pointer
		font-weight: bold
		color: $header-color
		display: inline-block
		margin: 3px
		padding: 5px 10px
		&--active, &:active
			background-color: transparentize($header-color, 0.5)
