//@import 'mixins-sec.sass'

.header
	position: fixed
	z-index: 1
	width: 100%
	height: $header-height
	background-color: $header-color
	box-shadow: $header-shadow
	@media screen and (max-height: 790px)
		margin-bottom: 1em
	.nav
		&__container
			width: 90%
			margin: 0 auto
			list-style-type: none
			padding: 0
		&__item
			display: inline-block
			&--logout
				float: right
				margin-right: 5em
		&__link
			display: flex
			align-items: center
			color: $header-link-color
			text-decoration: none
			padding: 0 10px
			font-size: $header-link-font-size
			height: $header-height
		&__link--active
			color: $header-link-color-active
			background-color: $header-link-bg-color-active