=text-height($height)
	line-height: $height
	font-size: $height
=trns($prop)
	transition: $prop .2s cubic-bezier(0.8, 0.22, 0.25, 1)

$body-bg-color: #fff

$info-border: 1px solid #5ab1fb
$info-bg: #9fd3ff

$indicator-border-ok: 1px solid #249200
$indicator-bg-ok: #baeaaa
$indicator-color-low: #4d73ff
$indicator-color-high: #ff3030

$header-height: 56px
$header-color: #405eff
$header-shadow: 0 3px 5px 0 rgba(0,0,0,0.3)
$header-link-font-size: ($header-height / 2) - 4px
$header-link-color: white
$header-link-color-active: #c6e5ff
$header-link-bg-color-active: #2f9eff

$card-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.17)
$card-shadow-hover: 0 0 13px 0 rgba(0, 0, 0, 0.25)
$card-border: none

$button-shadow: none
$button-shadow-hover: 0 2px 2px 0px rgba(0, 0, 0, 0.27)
$button-shadow-active: 0 2px 9px 0px rgba(0, 0, 0, 0.37)

$table-border-color: #cccccc
$table-border: 1px solid #cccccc

$current-font: Roboto

.filter-apply
	cursor: pointer
	padding: 10px 15px
	border-radius: 3px
	margin: 1em
	color: #fff
	font-weight: 700
	background-color: #0088ff
	box-shadow: $button-shadow
	will-change: box-shadow
	+trns(box-shadow)
	&:hover
		box-shadow: $button-shadow-hover
	&:active
		box-shadow: $button-shadow-active