@import 'mixins.sass'
@import 'icons.sass'
@import 'header.sass'
@import 'fonts.sass'
@import 'graph.sass'


html, body
	height: 100%
	padding: 0
	margin: 0
	font-family: $current-font
	background-color: $body-bg-color
	overflow: -moz-scrollbars-none
	-ms-overflow-style: none
	#root, .app
		height: 100%
	&::-webkit-scrollbar
		width: 0 !important
.page
	width: 100%
	@media screen and (min-width: 1366px)
		width: 80%
	margin: 0 auto
	padding-bottom: 3em
	display: flex
	justify-content: space-around
	&--column
		flex-direction: column
	& > .table
		width: 90%
		margin: 0 auto
.content
	display: flex
	padding-top: $header-height + 16px	

.section
	//border: 1px solid blue
	@media screen and (max-width: 1366px)
		margin: 0 .5em
	background-color: #FFF
	flex: 1
	margin: 0 2em	
	box-shadow: $card-shadow
	border: $card-border
	border-radius: 3px
	will-change: box-shadow
	@include trns(box-shadow) 
	&:hover
		box-shadow: $card-shadow-hover
	& > *
		margin: 0 15px
	&__title
		margin: 15px 0 0
		text-align: center
		text-transform: uppercase
		font-size: 1.5em
.indicator	
	&__container
		padding: 10px 15px
	&__placeholder
		text-align: center
		color: green
	&--high, &--low 
		position: relative
		padding: 3px
		padding-left: 1.4em
		border-bottom: $table-border
		&:before, &:after
			content: ""
			position: absolute
			height: .8em
			display: block
			top: 50%
			transform: translateY(-50%)
		&:before
			width: .8em
			border-radius: 50%
			left: 0
		&:after
			width: 25%
			right: 0
	&--high
		&:before
			border: 3px solid $indicator-color-high			
		&:after
			background-color: $indicator-color-high
	&--low
		//color: blue
		
		&:before
			border: 3px solid $indicator-color-low
		&:after
			background-color: $indicator-color-low
	&__group
		padding: 5px
		border-radius: 3px
		display: flex
		flex-direction: column
		justify-content: space-around
		&--problem
			@extend .indicator__group
			//border: 1px solid red
		&--ok
			@extend .indicator__group
			border: $indicator-border-ok
			background-color: $indicator-bg-ok
			padding: 10px

.table
	width: 100%
	border: $table-border
	border-collapse: collapse
	background-color: #fff
	tbody
		border: inherit
	&__caption
		font-size: 1.2em
		font-weight: 700
		border: inherit
	&__row, &__col
		border: inherit
		text-align: center
	&__col
		padding: 5px
		width: 15%
		&--big
			text-align: left
			width: 40%
		&--whois
			width: initial 
		&--filter
			position: relative
			cursor: pointer
			.filter
				&__input
					position: absolute
					display: none
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					margin: 0
					border: none
					outline: none
					width: 100%
					text-align: center
					//border-bottom: 1px solid darken($table-border-color, 20%)
					//background-color: $body-bg-color
					font-size: 1.1em
					z-index: 10000
					&--visible
						display: block

h3
	text-transform: uppercase
	text-align: center
	margin: 0.5em 0
.counter
	&:last-of-type
		margin-top: 1.3em
	& > h3
		text-align: left
		padding-left: 1em
		font-size: 0.6em
	&__title
		margin-top: 0
	&__value, &__range
		text-align: center
	&__range
		font-size: .6em
		white-space: nowrap
		position: absolute
		bottom: -18px
		left: 50%
		transform: translateX(-50%)
	&__group
		display: inline-block
		width: 25%
		padding: 3px 30px
		position: relative
		&--0
			background-color: #5EBF6C
		&--1
			background-color: #FFDA4A
		&--2
			background-color: #FA9D42
		&--3
			background-color: #E52723
		&:hover .machinelist
			display: block	

	&__grouplist
		margin: 0
		display: flex
		justify-content: space-around
		padding: 0
		width: 100%
		list-style-type: none
		box-sizing: border-box
	&__section
		//border: 1px solid
		margin-bottom: 15px
		padding: 10px 15px
.machinelist
	display: none
	white-space: nowrap
	padding: 5px 5px 5px 30px
	position: absolute
	background-color: white
	box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25)
	z-index: 1000
	&__item
		white-space: nowrap
.filter-box
	display: flex
	flex-direction: column
	align-items: center
	&__empty
		padding: 1em
		border-radius: 3px
		border: $info-border
		background-color: $info-bg
	tbody
		border: inherit
	&__table
		width: 30%
		margin: 1em 0
		border-collapse: collapse
		border: 1px solid darken($table-border-color, 20%)
		border-radius: 3px

		.table__row
			border: inherit
			border-collapse: collapse
		.table__col
			border: initial
			&--delete-filter
				cursor: pointer

		

