@font-face 
	font-family: 'Noto Sans'
	font-style: normal
	font-weight: 400
	src: local('Noto Sans'), local('NotoSans'), url(/fonts/noto_latin.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face 
	font-family: 'Noto Sans'
	font-style: normal
	font-weight: 400
	src: local('Noto Sans'), local('NotoSans'), url(/fonts/noto_cyrillic.woff2) format('woff2')
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face 
	font-family: 'Roboto'
	font-style: normal
	font-weight: 400
	src: local('Roboto'), local('Roboto-Regular'), url(/fonts/roboto-latin.woff2) format('woff2')
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face 
	font-family: 'Roboto'
	font-style: normal
	font-weight: 400
	src: local('Roboto'), local('Roboto-Regular'), url(/fonts/roboto-cyrillic.woff2) format('woff2')
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116	