.icon
	&--remove-circle
		cursor: pointer
		fill: red
	&--filter
		display: inline
		height: 1em
		position: absolute
		top: 50%
		right: 10px
		transform: translateY(-50%)
.svg
	height: 1.3em
	position: absolute
	right: 0
	top: 50%
	transform: translateY(-50%)
