@import 'mixins.sass'
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic,cyrillic-ext)

.content
	min-height: 100vh
	display: flex
	justify-content: center
	align-items: center
.form
	box-shadow: 0 2px 5px 0 rgba(117, 163, 231, 0.37)
	//border: 1px solid #75A3E7
	padding: 40px 50px
	display: flex
	flex-direction: column
	justify-content: center
	
	&__title
		font-family: Open Sans
		text-align: center
		margin-top: 0
		margin-bottom: 30px
	input
		&[type="text"], &[type="password"]
			padding: 2px
			display: block
			margin-bottom: 10px
			@include text-height(1.4em)
	.button__container
		display: flex
	[type="submit"]
		margin: 0 auto
		width: 50%
		padding: 7px 2px
		align-self: center
		margin-top: 15px
		background-color: #e4e4e4
		border: none
		border-radius: 2px
		position: relative
		outline: none
		&:hover
			box-shadow: inset 0 2px 15px rgba(0,0,0,0.17)

		&:active
			outline: none
			bottom: -3px
			&:after
				bottom: 0
		&:after
			border-radius: 3px
			z-index: -1
			display: block
			content: ''
			position: absolute
			top: 0
			bottom: -3px
			left: 0
			right: 0
			background-color: rgba(0,0,0,0.6)
		@include text-height(1.2em)