@mixin text-height($height)
	line-height: $height
	font-size: $height
@mixin trns($prop)
	transition: $prop .4s cubic-bezier(0.8, 0.22, 0.25, 1)

$body-bg-color: #fff

$info-border: 1px solid #5ab1fb
$info-bg: #9fd3ff

$indicator-border-ok: 1px solid #249200
$indicator-bg-ok: #baeaaa
$indicator-color-low: #4d73ff
$indicator-color-high: #ff3030

$header-height: 56px
$header-color: #405eff
$header-shadow: 0 3px 5px 0 rgba(0,0,0,0.3)
$header-link-font-size: ($header-height / 2) - 4px
$header-link-color: white
$header-link-color-active: #c6e5ff
$header-link-bg-color-active: #2f9eff

$table-border-color: #cccccc
$table-border: 1px solid #cccccc

$current-font: Noto Sans