@mixin text-height($height)
	line-height: $height
	font-size: $height
@mixin trns($prop)
	transition: $prop .4s cubic-bezier(0.8, 0.22, 0.25, 1)

$body-bg-color: #efefef

$info-border: 1px solid #5ab1fb
$info-bg: #9fd3ff

$indicator-border-ok: 1px solid #249200
$indicator-bg-ok: #baeaaa
$indicator-color-low: #4d73ff
$indicator-color-high: #ff3030

$header-height: 56px
$header-color: #6a03ab
$header-shadow: none
$header-link-font-size: ($header-height / 2) - 4px
$header-link-color: white
$header-link-bg-color-active: lighten($header-color, 20%)
$header-link-color-active: lighten($header-link-bg-color-active, 45%)

$table-border-color: #cccccc
$table-border: 1px solid #cccccc

$current-font: Roboto